# ===================================================================
# tpDcc-libs-resources requirements file
# ===================================================================
Qt.py
tpDcc-libs-python
tpDcc-core
qtsass